* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.containerTable table th {
    padding: 0.5rem;
}

.btn-submit {
    box-shadow: -4px 3px 7px #1a5700;
}

input {
    box-shadow: -1px 1px 1px black;
}

